doctype html
html(lang=config.language)
  head
    meta(charset='utf-8')

    title
      =page.title ? page.title + ' - ' : ''
      =config.title

    meta(
      name='description'
      content=truncate(page.description || config.description, {length: 160}))

    meta(
      name='author'
      content=page.author || config.author)

    meta(
      name='viewport'
      content='width=device-width, initial-scale=1')

    link(
      rel='stylesheet'
      href='/cssrecipes/styles/styles.css')

    if page.styles !== undefined && page.styles.length
      each css in page.styles
        link(
          rel='stylesheet'
          href=css)

    link(
      rel='icon'
      href='/cssrecipes/images/icons/favicon.ico')

    link(
      rel='canonical'
      href=config.url + config.root + page.canonical_path.replace('index.html', ''))

  body
    #menu-outer
      nav#menu-inner
        each url, label in theme.menu
          a(href=url)= label
    #content-outer
      #content-inner
        if body
          div!= body
        else
          block content
    #bottom-outer
      #bottom-inner
        span Site construction by
        span= ' ' + config.author + ' '
        span using
        a(href='http://hexo.io')
          span hexo blog framework
        span .
        br
        a(href=config.root) Home

    script(src='/cssrecipes/scripts/libraries/jquery/jquery.min.js')
    script(src='/cssrecipes/scripts/common.js')

    if page.scripts !== undefined && page.scripts.length
      each script in page.scripts
        script(src=script)
