doctype html
html(lang=config.language)
  head
    meta(charset='utf-8')

    title
      =page.title ? page.title + ' - ' : ''
      =config.title

    meta(
      name='description'
      content=truncate(page.description || config.description, {length: 160}))

    meta(
      name='author'
      content=page.author || config.author)

    meta(
      name='viewport'
      content='width=device-width, initial-scale=1')

    link(
      rel='stylesheet'
      href=url_for('/styles/styles.css'))

    if page.styles !== undefined && page.styles.length
      each css in page.styles
        link(
          rel='stylesheet'
          href=url_for(css))

    link(
      rel='icon'
      href=url_for('/images/icons/favicon.ico'))

    link(
      rel='canonical'
      href=config.url + config.root + page.canonical_path.replace('index.html', ''))

  body
    #container
      header.header
        h1.logotype
          a(href=url_for())=config.title
        p.desc= config.description

      main.main
        if body
          div!= body
        else
          block content

    script(src=url_for('/scripts/libraries/jquery/jquery.min.js'))
    script(src=url_for('/scripts/common.js'))

    if page.scripts !== undefined && page.scripts.length
      each script in page.scripts
        script(src=url_for(script))
